<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
  canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
</style>
    </head>
    <script src="webjars/jquery/2.2.4/jquery.min.js"></script>
    <body onload="getParameters()">
    <script>

var myGamePiece;
var myGameArea = {
    canvas : document.createElement("canvas"),
    start : function(maxHeight, maxWidth) {
        this.canvas.width = maxWidth;
        this.canvas.height =maxHeight;
        this.context = this.canvas.getContext("2d");
        document.body.insertBefore(this.canvas, document.body.childNodes[0]);
        this.interval = setInterval(getObjectState, 20);
    },
    stop : function() {
        clearInterval(this.interval);
    },
    clear : function() {
        this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    }
}

document.addEventListener('keydown', function(event) {
    sendAction(event.keyCode)
}, true);

function drawObjects(obj){
 myGameArea.clear();
for (i in obj){
ctx = myGameArea.context;
 if(obj[i].type == "rectangle"){
            ctx.fillStyle = obj[i].color;
            ctx.fillRect(obj[i].x, obj[i].y, obj[i].width, obj[i].height);
        } else if(obj[i].type == "circle"){
            var circle = new Path2D();
            circle.arc(obj[i].x, obj[i].y, obj[i].radius, 0, 2 * Math.PI);;
         ctx.fillStyle = obj[i].color;
         ctx.fill(circle);
        } else if (obj[i].type == "text") {
            ctx.font = obj[i].width + " " + obj[i].height;
            ctx.fillStyle = obj[i].color;
            ctx.fillText(obj[i].text, obj[i].x, obj[i].y);
        }
        }
}
</script>

<script>
function getParameters() {
$.ajax({
type : "GET",
url : "/api/level/rolling/ball/description",
timeout : 100000,
contentType: "application/json",
dataType: "json",
success : function(action) {
console.log("SUCCESS: ", action);
    myGameArea.start(action.maxHeight, action.maxWidth);
},
error : function(e) {
console.log("ERROR: ", e);
},
done : function(e) {
console.log("DONE");
}
});
}

function getObjectState() {
$.ajax({
type : "GET",
url : "/api/rolling/object/state/",
timeout : 100000,
contentType: "application/json",
dataType: "json",
success : function(obj) {
console.log("SUCCESS: ", obj);
   drawObjects(obj);
},
error : function(e) {
console.log("ERROR: ", e);
},
done : function(e) {
console.log("DONE");
}
});
}

function sendAction(action) {
$.ajax({
type : "GET",
url : "/api/rolling/action/"+action,
timeout : 100000,
success : function(action) {
console.log("SUCCESS: ", action);
},
error : function(e) {
console.log("ERROR: ", e);
},
done : function(e) {
console.log("DONE");
}
});
}

</script>

    <br>
    <p>Try to control the red square. 'A' = left, 'D' = right, 'Space' = jump</p>
    </body>
</html>
